{% extends 'base.html.twig' %}

{% block title %}Pricing{% endblock %}

{% block body %}
  <div class="text-center container">
    <h2 class="fw-normal text-muted mb-3">{{ 'pricing_title'|trans({}, 'pages') }}</h2>
  </div>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    {% for pricing_plan in pricing_plans %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ pricing_plan.name }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              ${{ pricing_plan.price }}<small class="text-body-secondary fw-light">/mo</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              {% for feature in pricing_plan.features %}
                <li>{{ feature.name }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
