{% extends '@EasyAdmin/layout.html.twig' %}

{% block page_title %}Dashboard{% endblock page_title %}

{% block main %}
  <h2>Pricing Plans: {{ pricing_plans }}</h2>
  <h2>Posts: {{ posts }}</h2>
  <h2>Articles: {{ articles }}</h2>
{% endblock main %}