<div class="modal fade" id="contact-us-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Contact us</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        {{ form_start(form, { action: path('contact_us') }) }}
        {{ form_widget(form) }}
        <div class="d-flex">
          <button type="submit" class="btn btn-primary ms-auto">Send</button>
        </div>
        {{ form_end(form) }}

      </div>
    </div>
  </div>
</div>